<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>

  <body>
    <% include ./partials/nav %>

    <h1>Hello from Home.ejs</h1>

    <%= title %>
    <br />
    <% data.forEach(element => { %>
    <p>Number: <%= element %></p>
    <% }) %>
  </body>
</html>
